#productDetail{
    position: absolute;
    top:-611px;
    background-image:url(../../imagenes/fondoSimple.png);
    background-size: cover;
    height: 611px;
    width: 375px;
    overflow: hidden;
}

#hoja{
    position: relative;
    width: 140px;
    height: 140px;
    left: 152px;
    top: 20px;

}
#head{
    width: 375px;
    height: 45px;
    left: 0px;


    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
}
#back{
    position:relative;
    left: 30px;
    top:10px;
}
#fav{
    position:relative;
    left:300px;
    top:10px;
}