#log{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top:-40px;
}
input.login{
    background: rgba(241, 224, 217, 0.85);
    border: 1px solid #FDFFFA;
    padding: 10px 10px 10px 47px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 12px;
    
}
#logoPwd2{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 60px;
    top: 115px;
    opacity: 70%;
}
#logoEmail2{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 60px;
    top: 75px;
    opacity: 70%;
}
.submitlogin{
    
    width: 120px;
    height: 32px;
    left: calc(50% - 120px/2 - 0.5px);
    margin-top: 10px;
    margin-bottom: 5px;
    /* background: #007CBA; */
    background:#2D6A4F;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 4px 5px 7px -7px #000000;
    
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #F7FFF7;

}
h3{
    font-family: Noto Sans KR;
    font-style: normal;
    color: #2D6A4F;
}
