.scrollbar{
    position: relative;
    top:-161px;
    width:400px;
    max-height: 500px;
    font-family: 'Noto Sans', sans-serif;
    background-color:#F1E0D9 ;
    overflow-y:scroll
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3333;
}

#ContenedorP{
    
    width: 350px;
    height: 128px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 13px;
    

}
#circle{
    position:relative;
    left:15px;
    top:8px;
    background: white;
    width: 110px;
    height: 110px;
    border-radius: 40%;
    margin-bottom: -8px;
    
}
#nameP{
    position: relative;
    left:160px;
    top:-148px;
    max-width: 182px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 114%;
    letter-spacing: 0.2px;
    color: #333333;
}
#brand{
    position: relative;
    left:160px;
    top:-125px;
    max-width: 150px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.2px;
    color: #2D6A4F;
}

#imgP{
    position: relative;
    left:50px;
    top:-80px;
    max-width: 56px;
    z-index: 1px;
    height: 82px;
}

#linea{
    position:absolute;
    margin-top:-8px;
    margin-left: 4px;
    height:1px;
}

#AddFav{
    position: absolute;
    top:-64px;
    left:160px;
}


.classes.heading{
    background-color: aqua;

}

#Nofavs{
    position:relative;
    top:0px;
    height: 611px;
    width: 375px;
    margin-bottom: -4px;
    overflow: hidden;
}
#FondoFavs{
    top:-611px;
    background-image:url(../../imagenes/fondoSimple.png);
    background-size: cover;
    height: 611px;
    width: 375px;
    overflow: hidden;
}
#ContenedorFavs{
    position:relative;
    margin-top: 300px;
    

}
#ContainerBtnFavs{
    position:relative;
    top:80px;
    width: 375px;
    height: 70px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);
    margin-bottom: -59px;
  
}
#BtnFav{
  
    width: 110px;
    height: 32px;
    margin-left: 70px;
    margin-top: 17px;
    
    
    
    background:#87D9AE;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 4px 5px 7px -7px #000000;
    
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #F7FFF7;
}

#BtnList{
    width: 110px;
    height: 32px;
    left: calc(50% - 200px/2 - 0.5px);
    top: 415px;
    margin-left: 10px;
    /* background: #007CBA; */
    background:#F9F7F8;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 4px 5px 7px -7px #000000;
    
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    
}

#DeleteFav{
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    position: relative;
    z-index: 1;
    
    opacity:70%;
    left:300px;
    top:0px;
}
#price2{
  
    font-family: 'Noto Sans', sans-serif;
    
    font-weight: 100;
    font-size: 10px;
    line-height: 114%;
    
    color: #A8A8A8;
}
#NumberLikes{
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    left:176px;
    top:-74px;
   
    font-weight: 100;
    font-size: 10px;
    line-height: 114%;
    
    color: #A8A8A8;

}
#NumberVisitas{
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    left:228px;
    top:-74px;
    font-weight: 100;
    font-size: 10px;
    line-height: 114%;
    
    color: #A8A8A8;

}
 #info{
     display:flex;
     flex-direction: column;
     position:relative;
     top:-45px;
 }
 #visitas{
    position:absolute;
    top:-64px;
    margin-left:205px; 
}