.scrollbar{
    position: relative;
    top:-161px;
    width:400px;
    max-height: 500px;
    font-family: 'Noto Sans', sans-serif;
    background-color:#F1E0D9 ;
    overflow-y:scroll
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3333;
}

#ContenedorP{
    
    width: 350px;
    height: 128px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 13px;
    

}
#circle{
    position:relative;
    left:15px;
    top:8px;
    background: white;
    width: 110px;
    height: 110px;
    border-radius: 40%;
    margin-bottom: -8px;
    
}
#nameP{
    position: relative;
    left:160px;
    top:-128px;
    max-width: 182px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 114%;
    letter-spacing: 0.2px;
    color: #333333;
}
#brand{
    position: relative;
    left:160px;
    top:-120px;
    max-width: 150px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.2px;
    color: #2D6A4F;
}

#imgP{
    position: relative;
    left:48px;
    top:-191px;
    max-width: 56px;
    z-index: 1px;
    height: 82px;
}

#linea{
    position:relative;
    max-width: 340px;
    height:1.2px;
    left:4px;
     
}

#AddFav{
    position: relative;
    top:-162px;
    left:160px;
}
