
#search{
    position: relative;
    left: 30px;
    top: 15px;
    
    width: 272px;
    height: 36px;
    background: rgba(241, 224, 217, 0.85);
    border: 0.5px solid #7B8794;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: 'Noto Sans', sans-serif;
    
    font-size: 15px;
    line-height: 14px;

    text-align: left;
    letter-spacing: 0.15px;
    /* z-index:10; */

}
#searcher{
    position: relative;
    width: 375px;
    height: 110px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    z-index:2px;
}
#iconoSearch{
    position: relative;
    left:60px;
    top:22px;
    z-index: 2;

}
#iconoFilter{
    position:relative;
    left:310px;
    top:22px;
    z-index: 2;
    
}

#BtnMapa{
    position:relative;
    width: 100px;
    height: 32px;
    left:20px;
    top: -160px;
    background: #87D9AE;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 4px 5px 7px -7px #000000;
    
    text-align: center;
    letter-spacing: 1.25px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;  

    color: #333333;
}